{% set form = hookable_metadata.context.form %}
{% set variant = hookable_metadata.context.item.wishlistProduct.variant %}
{% set product = variant.product %}

{#<td class="bb-wishlist-item-quantity" {{ sylius_test_html_attribute('wishlist-item-quantity') }} >#}
{#    {{ form_widget(form.cartItem.cartItem.quantity, {#}
{#        'attr': {#}
{#            'min': 0,#}
{#            'data-product-name': product.name,#}
{#            'value': form.cartItem.cartItem.quantity.vars.value is same as("0") ? 1 : form.cartItem.cartItem.quantity.vars.value#}
{#        }#}
{#    }) }}#}
{#    {{ form_row(form.cartItem.cartItem.quantity, sylius_test_form_attribute('cart-item-quantity')|sylius_merge_recursive({label: false, row_attr: {'class': 'mt-3'}})) }}#}
{#</td>#}

<td class="bb-wishlist-item-quantity">
{#    {{ form_row(form.cartItem.cartItem.quantity,#}
{#        sylius_test_form_attribute('wishlist-item-quantity')|sylius_merge_recursive({#}
{#            label: false,#}
{#            row_attr: {'class': 'mt-3 field mb-3'}#}
{#        }))#}
{#    }}#}
    {{ form_widget(form.cartItem.cartItem.quantity, {
        'attr': {
            'min': 0,
            'data-product-name': product.name,
            'value': form.cartItem.cartItem.quantity.vars.value is same as("0") ? 1 : form.cartItem.cartItem.quantity.vars.value
        }
    }) }}
</td>
