{% if app.user %}
    {% set wishlists = findAllByShopUserAndToken(app.user) %}
{% else %}
    {% set wishlists = findAllByAnonymous() %}
{% endif %}

{% set btn_class = 'btn btn-icon btn-outline-secondary text-nowrap w-100 justify-content-startF' %}

<div class="dropdown bb-colective-actions disabled">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ 'sylius.ui.bulk_actions'|trans }}
    </button>
    <ul class="dropdown-menu p-2">
        <li class="mb-3">
            <button type="submit"
                    class="{{ btn_class }}" {{ sylius_test_html_attribute('wishlist-add-selected-to-cart') }}
                    formaction="{{ path('bitbag_sylius_wishlist_plugin_shop_locale_wishlist_add_selected_products', { wishlistId: wishlist.id }) }}">
                {{ ux_icon('mdi:cart', {'class': 'icon icon-sm'}) }}
                {{ 'bitbag_sylius_wishlist_plugin.ui.add_to_cart'|trans }}
            </button>
        </li>
        <li class="mb-3">
            <button type="submit"
                    class="{{ btn_class }}" {{ sylius_test_html_attribute('wishlist-remove-selected-from-wishlist') }}
                    formaction="{{ path('bitbag_sylius_wishlist_plugin_shop_locale_wishlist_remove_selected_products', { wishlistId: wishlist.id }) }}">
                {{ ux_icon('flowbite:x-outline', {'class': 'icon icon-sm'}) }}
                {{ 'bitbag_sylius_wishlist_plugin.ui.remove'|trans }}
            </button>
        </li>
        {% if wishlists|length > 1 %}
            <li class="mb-3">
                <button type="button"
                        class="{{ btn_class }}" {{ sylius_test_html_attribute('wishlist-copy-to-wishlist') }}
                        data-bb-wl-list-modal-target="choose-wishlist-button"
                        data-bb-wl-list-modal-title="{{ 'bitbag_sylius_wishlist_plugin.ui.wishlist_modal_copy_title'|trans }}"
                        data-bb-wl-list-modal-perform="{{ 'bitbag_sylius_wishlist_plugin.ui.wishlist_modal_copy_perform'|trans }}"
                        data-bb-wl-list-modal-cancel="{{ 'bitbag_sylius_wishlist_plugin.ui.wishlist_modal_copy_cancel'|trans }}"
                        data-bb-wl-list-modal-placeholder="{{ 'bitbag_sylius_wishlist_plugin.ui.wishlist_modal_placeholder'|trans }}"
                >
                    {{ ux_icon('mingcute:copy-fill', {'class': 'icon icon-sm'}) }}
                    {{ 'bitbag_sylius_wishlist_plugin.ui.copy_to_wishlist'|trans }}
                </button>
            </li>
        {% endif %}
        <input type="hidden" data-bb-current-wishlist-id="{{ wishlist.id }}">
        {% for wishlistTarget in wishlists %}
            {% if wishlist.id != wishlistTarget.id %}
                <input type="hidden" data-bb-wishlists="{{ wishlistTarget.name }}"
                       data-bb-wishlists-id="{{ wishlistTarget.id }}">
            {% endif %}
        {% endfor %}
        <li class="mb-3">
            <button type="submit"
                    class="{{ btn_class }}" {{ sylius_test_html_attribute('wishlist-export-to-csv') }}
                    formaction="{{ path('bitbag_sylius_wishlist_plugin_shop_locale_wishlsit_export_selected_products_to_csv', { wishlistId: wishlist.id }) }}">
                {{ ux_icon('mingcute:copy-fill', {'class': 'icon icon-sm'}) }}
                {{ 'bitbag_sylius_wishlist_plugin.ui.export_to_csv'|trans }}
            </button>
        </li>
        <li>
            <button type="submit"
                    class="{{ btn_class }}" {{ sylius_test_html_attribute('wishlist-export-to-pdf-from-wishlist') }}
                    formaction="{{ path('bitbag_sylius_wishlist_plugin_shop_locale_wishlist_export_to_pdf', { wishlistId: wishlist.id }) }}">
                {{ ux_icon('material-symbols:download', {'class': 'icon icon-sm'}) }}
                {{ 'bitbag_sylius_wishlist_plugin.ui.export_wishlist_to_pdf'|trans }}
            </button>
        </li>
    </ul>
</div>
