{% if app.user %}
    {% set wishlists = findAllByShopUserAndToken(app.user) %}
{% else %}
    {% set wishlists = findAllByAnonymous() %}
{% endif %}
<div class="ui dropdown button bb-colective-actions disabled">
    <i class="angle down icon"></i>
    <span class="text">Bulk Actions</span>
    <div class="menu wishlist-dropdown-menu">
        <div class="item wishlist-dropdown-menu__item">
            <button type="submit" class="ui blue button wishlist-item--button" {{ sylius_test_html_attribute('wishlist-add-selected-to-cart') }} formaction="{{ path('bitbag_sylius_wishlist_plugin_shop_wishlist_add_selected_products', { wishlistId: wishlist.id }) }}">
                <i class="cart icon"></i>
                {{ 'bitbag_sylius_wishlist_plugin.ui.add_to_cart'|trans }}
            </button>
        </div>
        <div class="item wishlist-dropdown-menu__item">
            <button type="submit" class="ui red button wishlist-item--button" {{ sylius_test_html_attribute('wishlist-remove-selected-from-wishlist') }} formaction="{{ path('bitbag_sylius_wishlist_plugin_shop_wishlist_remove_selected_products', { wishlistId: wishlist.id }) }}">
                <i class="times icon"></i>
                {{ 'bitbag_sylius_wishlist_plugin.ui.remove'|trans }}
            </button>
        </div>
        {% if wishlists|length > 1 %}               
            <div class="item wishlist-dropdown-menu__item">
                <button type="button" class="ui green button wishlist-item--button" {{ sylius_test_html_attribute('wishlist-copy-to-wishlist') }} data-bb-wl-list-modal-target="choose-wishlist-button" >
                    <i class="copy icon"></i>
                    {{ 'bitbag_sylius_wishlist_plugin.ui.copy_to_wishlist'|trans }}
                </button>
            </div>            
        {% endif %}
        <input type="hidden" data-bb-current-wishlist-id="{{ wishlist.id }}">
        {% for wishlistTarget in wishlists  %}
            {% if wishlist.id != wishlistTarget.id %}               
                <input type="hidden" data-bb-wishlists="{{ wishlistTarget.name }}" data-bb-wishlists-id="{{ wishlistTarget.id }}">         
            {% endif %}
        {% endfor %}
        <div class="item wishlist-dropdown-menu__item">
            <button type="submit" class="ui green button wishlist-item--button" {{ sylius_test_html_attribute('wishlist-export-to-csv') }} formaction="{{ path('bitbag_sylius_wishlist_plugin_shop_wishlsit_export_selected_products_to_csv', { wishlistId: wishlist.id }) }}">
                <i class="copy icon"></i>
                {{ 'bitbag_sylius_wishlist_plugin.ui.export_to_csv'|trans }}
            </button>
        </div>
        <div class="item wishlist-dropdown-menu__item">
            <button type="submit" class="ui yellow button wishlist-item--button" {{ sylius_test_html_attribute('wishlist-export-to-pdf-from-wishlist') }}  formaction="{{ path('bitbag_sylius_wishlist_plugin_shop_wishlist_export_to_pdf', { wishlistId: wishlist.id }) }}">
                <i class="arrow alternate circle down icon"></i>
                {{ 'bitbag_sylius_wishlist_plugin.ui.export_wishlist_to_pdf'|trans }}
            </button>
        </div>
    </div>
</div>
