<button
        type="submit"
        class="ui primary button"
        {{ sylius_test_html_attribute('wishlist-add-all-to-cart') }}
        formaction="{{ path('bitbag_sylius_wishlist_plugin_shop_wishlist_add_products', { wishlistId: wishlist.id }) }}"
>
    <i class="cart icon"></i>
    {{ 'bitbag_sylius_wishlist_plugin.ui.add_items_to_cart'|trans }}
</button>
<a href="{{ path('bitbag_sylius_wishlist_plugin_shop_wishlist_import_from_csv') }}">
    <button type="button" class="ui secondary button" {{ sylius_test_html_attribute('wishlist-import-from-csv') }}>
        <i class="cart icon"></i>
        {{ 'bitbag_sylius_wishlist_plugin.ui.import_from_csv'|trans }}
    </button>
</a>

