<a href="{{ path('sylius_wishlist_plugin_shop_locale_wishlist_import_from_csv') }}">
    <button type="button" class="btn btn-icon btn-outline-secondary" {{ sylius_test_html_attribute('wishlist-import-from-csv') }}>
        {{ ux_icon('mdi:import', {'class': 'icon icon-sm'}) }}
        {{ 'sylius_wishlist_plugin.ui.import_from_csv'|trans }}
    </button>
</a>

<button
    id="{{ form.addAll.vars.id }}"
    name="{{ form.addAll.vars.full_name }}"
    class="btn btn-icon btn-primary"
    data-bb-toggle="wishlist-add-all"
    {{ sylius_test_html_attribute('wishlist-add-all-to-cart') }}
    formaction="{{ path('sylius_wishlist_plugin_shop_locale_wishlist_add_products', { wishlistId: wishlist.id }) }}"
>
    {{ ux_icon('mdi:heart', {'class': 'icon icon-sm'}) }}
    {{ form.addAll.vars.label|trans }}
</button>

