{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% import '@SyliusShop/shared/messages.html.twig' as messages %}

{% block title %}{{ 'sylius_wishlist_plugin.ui.your_wishlist'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container mt-4 mb-5">
        <h1 class="bb-wishlist-header">
            {{ wishlist.name }}
        </h1>
        {% if sylius.channel is not null %}
            {% set wishlists = findAllByAnonymousAndChannel(sylius.channel) %}
        {% else %}
            {% set wishlists = findAllByAnonymous() %}
        {% endif %}
        {% if wishlists|length > 1 %}
        {% else %}
            <div class="d-flex justify-content-between">
                {% if wishlist.wishlistProducts.count > 0 %}
                    <a href="{{ path('sylius_wishlist_plugin_shop_locale_wishlist_clean', {'wishlistId': wishlist.id}) }}"
                       class="clean-wishlist text-decoration-none d-flex align-items-center">
                        {{ ux_icon('bx:x') }}{{ 'sylius_wishlist_plugin.ui.clear_wishlist'|trans }}
                    </a>
                {% endif %}
                <button id="create_new_wishlist_button" class="btn btn-primary ms-auto"
                        data-bb-wishlist-add="add-another-wishlist"
                        data-bb-wishlist-add-url="{{ path('sylius_wishlist_plugin_shop_locale_wishlist_create_new_wishlist') }}"
                        data-bb-wishlist-add-title="{{ 'sylius_wishlist_plugin.ui.wishlist_modal_add_title'|trans }}"
                        data-bb-wishlist-add-perform="{{ 'sylius_wishlist_plugin.ui.wishlist_modal_add_perform'|trans }}"
                        data-bb-wishlist-add-cancel="{{ 'sylius_wishlist_plugin.ui.wishlist_modal_add_cancel'|trans }}"
                        data-bb-wishlist-add-error="{{ 'sylius_wishlist_plugin.ui.wishlist_modal_add_error'|trans }}"
                >
                    {{ 'sylius_wishlist_plugin.ui.add_another_wishlist'|trans }}
                </button>
                <input type="hidden" data-bb-csrf="{{ csrf_token('some-name') }}"/>
            </div>
        {% endif %}

        <div class="my-3"></div>

        {% if wishlist.wishlistProducts.count > 0 %}
            <div class="my-3"></div>

            {{ form_start(form, { attr: { class: 'bb-wishlist ui form', id: "wishlist_form" } }) }}

            <div id="wishlist">
                <div class="bb-wishlist-item">
                    <div class="bb-wishlist-item-select">
                        <input type="checkbox" id="toggle-checkboxes" class="bb-wishlist-item-select-checkbox">
                    </div>
                    <div class="bb-wishlist-item-image">
                        <span>{{ 'sylius.ui.item'|trans }}</span>
                    </div>
                    <div class="bb-wishlist-item-price">
                        <span>{{ 'sylius.ui.unit_price'|trans }}</span>
                    </div>
                    <div class="bb-wishlist-item-quantity">
                        <span>{{ 'sylius.ui.qty'|trans }}</span>
                    </div>
                    <div class="bb-wishlist-item-actions">
                        <span>{{ 'sylius.ui.actions'|trans }}</span>
                    </div>
                </div>

                {% for itemForm in form.items %}
                    {% include "@SyliusWishlistPlugin/wishlist_details/item.html.twig" %}
                    <input type="hidden" name="wishlist_collection[items][{{ loop.index - 1 }}][variant]"
                           value="{{ itemForm.vars.data.wishlistProduct.variant.id }}"/>
                {% endfor %}

                <div class="bb-wishlist-actions">
                    {% include "@SyliusWishlistPlugin/wishlist_details/collective_actions.html.twig" %}
                    {% include "@SyliusWishlistPlugin/wishlist_details/global_actions.html.twig" %}
                </div>
                <input type="hidden" data-bb-csrf="{{ csrf_token('some-name') }}"/>
            </div>

            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false} ) }}
        {% else %}
            {{ messages.info('sylius_wishlist_plugin.ui.your_wishlist_is_empty'|trans) }}
            <a href="{{ path('sylius_wishlist_plugin_shop_locale_wishlist_import_from_csv') }}">
                <button type="button"
                        class="btn btn-outline-secondary" {{ sylius_test_html_attribute('wishlist-import-from-csv') }}>
                    {{ ux_icon('mdi:import', {'class': 'icon icon-sm'}) }}
                    {{ 'sylius_wishlist_plugin.ui.import_from_csv'|trans }}
                </button>
            </a>
        {% endif %}
    </div>
{% endblock %}
