{% import '@SyliusShop/shared/messages.html.twig' as messages %}

{% set wishlist = hookable_metadata.context.wishlist %}
{% set form = hookable_metadata.context.form %}

{% if wishlist.wishlistProducts.count > 0 %}
    <div class="ui hidden divider"></div>

    {% hook 'form' with { wishlist, form } %}
{% else %}
    <div class="column">
        {{ messages.info('bitbag_sylius_wishlist_plugin.ui.your_wishlist_is_empty'|trans) }}
    </div>
    <a href="{{ path('bitbag_sylius_wishlist_plugin_shop_locale_wishlist_import_from_csv') }}">
        <button type="button" class="btn btn-light" {{ sylius_test_html_attribute('wishlist-import-from-csv') }}>
            {{ ux_icon('mdi:cart') }}
            {{ 'bitbag_sylius_wishlist_plugin.ui.import_from_csv'|trans }}
        </button>
    </a>
{% endif %}
