{% set wishlist = hookable_metadata.context.wishlist %}
{% if sylius.channel is not null %}
    {% set wishlists = findAllByAnonymousAndChannel(sylius.channel) %}
{% else %}
    {% set wishlists = findAllByAnonymous() %}
{% endif %}

<h1 class="ui header">
    <i class="circular heart icon"></i>
    <div class="content bb-wishlist-header">
        {{ wishlist.name }}
    </div>
</h1>

{% if wishlists|length <= 1 %}
    <div class="middle aligned column">
        <button id="create_new_wishlist_button" class="ui right floated primary  button"
            data-bb-wishlist-add="add-another-wishlist"
            data-bb-wishlist-add-url="{{ path('bitbag_sylius_wishlist_plugin_shop_locale_wishlist_create_new_wishlist') }}"
            data-bb-wishlist-add-title="{{ 'bitbag_sylius_wishlist_plugin.ui.wishlist_modal_add_title'|trans }}"
            data-bb-wishlist-add-perform="{{ 'bitbag_sylius_wishlist_plugin.ui.wishlist_modal_add_perform'|trans }}"
            data-bb-wishlist-add-cancel="{{ 'bitbag_sylius_wishlist_plugin.ui.wishlist_modal_add_cancel'|trans }}"
            data-bb-wishlist-add-error="{{ 'bitbag_sylius_wishlist_plugin.ui.wishlist_modal_add_error'|trans }}"
        >
            {{ 'bitbag_sylius_wishlist_plugin.ui.add_another_wishlist'|trans }}
        </button>
        <input type="hidden" data-bb-csrf="{{ csrf_token('some-name') }}"/>
    </div>
{% endif %}
<div class="ui hidden divider"></div>
