{% set wishlist = hookable_metadata.context.wishlist %}

<button
    id="wishlist-delete-button-{{ wishlist.name }}" class="btn btn-light"
    {{ sylius_test_html_attribute('wishlist-wishlist-remove') }}
    data-wishlist-name="{{ wishlist.name }}"
    data-wishlist-remove-id="{{ wishlist.id }}"
    data-wishlist-remove-title="{{ 'bitbag_sylius_wishlist_plugin.ui.wishlist_modal_remove_title'|trans }}"
    data-wishlist-remove-content="{{ 'bitbag_sylius_wishlist_plugin.ui.wishlist_modal_remove_content'|trans }}"
    data-wishlist-remove-perform="{{ 'bitbag_sylius_wishlist_plugin.ui.wishlist_modal_remove_perform'|trans }}"
    data-wishlist-remove-cancel="{{ 'bitbag_sylius_wishlist_plugin.ui.wishlist_modal_remove_cancel'|trans }}"
>
    {{ ux_icon('mdi:remove') }}
</button>
