{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% set prefixes = ['wishlist.cart'] %}

{% block title %}{{ 'sylius.ui.your_shopping_cart'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container mt-4 mb-5">
        <div class="mb-5">
            <h1>{{ wishlist.name }}</h1>
            {% if wishlist.wishlistProducts.count > 0 %}
                <div class="middle aligned column">
                    <a href="{{ path('bitbag_sylius_wishlist_plugin_shop_locale_wishlist_clean', {'wishlistId': wishlist.id}) }}" class="bitbag-clean-wishlist">
                        {{ 'bitbag_sylius_wishlist_plugin.ui.clear_wishlist'|trans }}
                    </a>
                </div>
            {% endif %}

        </div>
        <div class="row">
            <div class="ui segment position-relative">
                <div data-loading>
                    <div class="sylius-shop-loader">
                        <img src="{{ asset('build/shop/images/loader.gif', 'shop') }}" alt="{{ 'sylius.ui.loading'|trans }}"/>
                    </div>
                </div>
                {% hook 'wishlist.cart' with { wishlist } %}
            </div>
        </div>
    </div>
{% endblock %}
