{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% form_theme form '@SyliusShop/form/theme.html.twig' %}

{% block content %}
    <div class="container mt-4 mb-5">
        <h1>
            {{ 'bitbag_sylius_wishlist_plugin.ui.import_from_csv'|trans }}
        </h1>

        {{ form_start(form, { attr: { class: 'import-wishlist ui form', id: "wishlist_import_form" } }) }}
        <div class="wishlist-import">
            <section class="wishlist-import-inputs">
                {{ form_widget(form.wishlist_file, { attr: { class: "ui input",  } } ) }}

                {{ form_widget(form.wishlists, { attr: { class: "ui input",  } } ) }}
            </section>

            <section class="wishlist-import-button-wrapper">
                {{ form_widget(form.submit, { attr: { class: "ui primary button",  } } ) }}
            </section>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
