{% extends '@SyliusShop/layout.html.twig' %}

{% import '@SyliusUi/Macro/messages.html.twig' as messages %}
{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block content %}
    <h1 class="ui monster section dividing header">
        {{ 'bitbag_sylius_wishlist_plugin.ui.wishlist'|trans }}
    </h1>
    {% if wishlist.wishlistProducts.count > 0%}
        <div class="middle aligned column">
            <a href="{{ path('bitbag_sylius_wishlist_plugin_shop_wishlist_clean', {'wishlistId': wishlist.id}) }}" class="bitbag-clean-wishlist">
                <i class="icon remove"></i>Clear wishlist
            </a>
        </div>
    {% endif %}

    {% if wishlist.wishlistProducts.count > 0 %}
        {{ form_start(form, {attr: {'class': 'ui form'}}) }}
        <div class="ui five column stackable grid" id="wishlist">

            {% for childForm in form.children if childForm.vars.name != '_token' %}
                {% set product = childForm.vars.data.cartItem.variant.product %}
                {% set variant = childForm.vars.data.cartItem.variant %}
                <div class="column bitbag-wishlist-item">
                    {% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

                    <div class="ui fluid card">
                        <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}"
                           class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">{{ 'sylius.ui.view_more'|trans }}</div>
                                    </div>
                                </div>
                            </div>
                            {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product} %}
                        </a>
                        <div class="content">
                            <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}"
                               class="header sylius-product-name">{{ product.name }}</a>
                            {% if not product.variants.empty() %}
                                <div class="sylius-product-price">{{ money.calculatePrice(product|sylius_resolve_variant) }}</div>
                            {% endif %}

                            {% if childForm.cartItem.variant is defined %}
                                {{ form_row(childForm.cartItem.variant) }}
                            {% endif %}
                            {{ form_row(childForm.cartItem.quantity, {'attr': {'min': 0, 'class': 'bitbag-wishlist-add-item-to-cart', 'data-product-name': product.name}}) }}

                            {% include '@BitBagSyliusWishlistPlugin/_removeFromWishlist.html.twig' %}
                        </div>
                    </div>

                    {{ sonata_block_render_event('sylius.shop.product.index.after_box', {'product': product}) }}
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="bitbag-add-products-to-wishlist ui huge primary icon labeled button"><i class="cart icon"></i> {{ 'bitbag_sylius_wishlist_plugin.ui.add_items_to_cart'|trans }}</button>

        {{ form_end(form) }}
    {% else %}
        <div class="ui one column stackable grid">
            <div class="column">
                {{ messages.info('bitbag_sylius_wishlist_plugin.ui.your_wishlist_is_empty'|trans) }}
            </div>
        </div>
    {% endif %}
    <div class="ui hidden divider"></div>
{% endblock %}
